<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- content.title %> | <%- site.title %></title>
	<meta name="description" content="<%- content.description %>">

<%- include("../../favicons.ejs") %>

<%- include("../../css.ejs") %>
</head>
<body>
	<header class="markdown">
		<%- site.header %>
	</header>
	<div id="content" class="markdown">
		<%- content.content %>
	</div>
	<footer class="markdown">
		<%- site.footer %>
	</footer>
</body>
</html>
